/* General setup */

@font-face {
    font-family: 'varsityregular';
    src: url('fonts/varsity_regular/varsity_regular-webfont.woff2') format('woff2'),
        url('varsity_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'lemon_milkregular';
    src: url('fonts/LEMON_MILK/lemonmilk-regular-webfont.woff2') format('woff2'),
        url('lemonmilk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'minecrafter_altregular';
    src: url('fonts/minecraft/minecrafter.alt-webfont.woff2') format('woff2'),
        url('minecrafter.alt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rifle_bats_tfbregular';
    src: url('fonts/guns/rifle_bats_tfb-webfont.woff2') format('woff2'),
        url('rifle_bats_tfb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glipervelzregular';
    src: url('fonts/alien/glipervelz-origy_full-webfont.woff2') format('woff2'),
        url('glipervelz-origy_full-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {

    font-size: 14px;



}



* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height: 14px;
    letter-spacing: 5px;
    word-spacing: 2px;
}

/* Layout */

section {
    float: left;
    width: 50%;
    text-indent: 20px;

}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;

}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
    letter-spacing: 1.4px;
    font-family: "lemon_milkregularr";
    
}

/* header and footer */

header,
footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
    font-size: 1.5rem
}

/* WRITE YOUR CODE BELOW HERE */


a:link {

    color: darkblue;
      
}

a:visited {

    color: #a66;
    

}
a:hover {

    color: red;
text-decoration: none;
}

a:focus{
color: darkred;
text-decoration: none;
}




a:active {

    color: maroon;

}

a[href*=http] {
   background: url('external-link-52.png') no-repeat 100% 0;
    background-size: 12px 12px;
    padding-right: 20px;
    
    


}

ul li a {

    letter-spacing: 2px;


}

nav ul a{

    border: solid #a66;
    display: block;
    padding: 20px 20px;
    margin-bottom: 20px;
  
    
    
    

}
nav ul {

list-style-type: none;

}
header:first-child{
text-align: center;

}

p,ul{
line-height: 1.5em;
}
p{

text-align: left;
    overflow:hidden
}